id=guada@ext.guadalinex.tld
name=guada-fox
version=0.1
description=Guada extension
creator=Guadalinex Dev Team
homepageURL=http://www.guadalinex.org
filename=guada-ext
OrganizationName=guada
HomePageURL=http://www.guadalinex.org
HomePageWelcomeURL=http://www.guadalinex.org
noWelcomePage=true
noOverridePage=true
DefaultSearchEngine=Google
ToolbarLocation=Last
BookmarkLocation=Last
CertPath1=/usr/share/ca-certificates/ja/ACDNIE001-SHA1.pem
CertTrust1=C,C,C
CertPath2=/usr/share/ca-certificates/ja/ACRAIZFNMT-RCM.pem
CertTrust2=C,C,C
CertPath3=/usr/share/ca-certificates/ja/ACRAIZFNMT.pem
CertTrust3=C,C,C
CertPath4=/usr/share/ca-certificates/ja/FNMTClase2CA.pem
CertTrust4=C,C,C
networkProxyType=0
networkProxyHTTP_Port=0
networkProxySSL_Port=0
networkProxyFTP_Port=0
networkProxySOCKS_Port=0
